.icon {
  cursor: pointer;
}

.icon img {
  width: 100%;
  max-width: 200px;
  margin: 2.5rem 2.5rem;
  height: auto;
}

@media (max-width: 425px) {
  .icon img {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
}