.container-mode {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 3rem 1rem 1rem;
  justify-content: right;
}

.container-icon {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  border: none;
  background: var(--gray-color);
  border-radius: 10px;
}

.mode-icon {
  color: var(--purple-smoke-color);
  font-size: 18px;
}

